* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

button {
    border: 0 none;
    background-color: transparent;
    cursor: pointer;
}

a:link, a:visited, a:hover, a:focus, a:active {
    text-decoration: none;
}

caption, .blind, .hidden, .ir {
    overflow: hidden;
    position: absolute;
    top: auto;
    left: -9999px;
    width: 1px;
    height: 1px;
    text-indent: -9999px;
}

#contents {
    width: 980px;
    margin: 0 auto;
    padding: 130px 20px 27px 20px;
}

#contents.main_contents {
    width: 100%;
    padding: 0 !important;
}

.main_curation_area {
    position: relative;
}

.main_curation_area h2 {
    width: 940px;
    margin: 0 auto 0;
}

.main_curation_area h2 a {
    display: block;
    height: 66px;
}

.main_curation_area .cont_wrap {
    width: 100%;
    max-width: 940px;
    margin: 0 auto;
}

.main_curation_area .tab {
    width: 100%;
    max-width: 940px;
    margin: 0 auto;
    position: relative;
    display: flex;
    text-align: center;
    background: #567ff2;
    border-radius: 5px;
    box-shadow: 8px 7px 29px 0px rgba(69, 111, 228, 0.25);
}

.main_curation_area .tab li {
    flex-grow: 1;
    width: 33.3%;
}

.main_curation_area .tab li.menu3 a {
    background: url(/img/menu_curation_area3.png) 50% -50px no-repeat;
}

.main_curation_area .tab li.active a {
    background-position: 50% 0 !important;
}

.main_curation_area .tab li a {
    display: block;
    height: 50px;
    text-indent: -9999px;
    position: relative;
}

.main_curation_area .tab li.menu1 a {
    background: url(/img/menu_curation_area1.png) 50% -50px no-repeat;
}

.main_curation_area .tab li a:before {
    content: '';
    display: inline-block;
    width: 1px;
    height: 16px;
    background: #a3b9f5;
    position: absolute;
    left: 0;
    top: 17px;
}

.main_curation_area .tab li:nth-child(1) a:before {
    display: none;
}

.main_curation_area .tab li.menu2 a {
    background: url(/img/menu_curation_area2.png) 50% -50px no-repeat;
}

.main_curation_area .tab_cont {
    padding: 25px 0 0;
    display: none;
    color: #333;
}

.main_curation_area .tab_cont.active {
    display: block;
}

.main_curation_area .tab_cont > p:before {
    content: '';
    display: inline-block;
    width: 30px;
    height: 22px;
    vertical-align: -4px;
    background: url(/img/icon_curation_txt.png) no-repeat;
}

.main_curation_area .tab_cont > p {
    padding: 0 0 25px;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: -0.5px;
    text-align: center;
}

.main_curation_area .ai_list {
    width: 100%;
    max-width: 940px;
    margin: 0 auto;
    overflow: hidden;
    padding-left: 0;
}

.main_curation_area .ai_list ul {
    display: flex;
    margin: 0 0 30px -20px;
    padding: 0;
}

.main_curation_area .ai_list ul li {
    overflow: hidden;
    width: 25%;
    height: 330px;
    transition: 0.5s;
}

.main_curation_area .ai_list ul li > div {
    height: 100%;
    overflow: hidden;
    margin: 0 0 0 20px;
    position: relative;
}

.main_curation_area .ai_list ul li > div:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 40%;
    background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, .6));
}

.main_curation_area .ai_list ul li a {
    position: relative;
    outline: none;
    height: 100%;
}

.main_curation_area .tab_cont ul li a {
    position: relative;
    display: block;
}

.main_curation_area .tab_cont ul li .img_wrap {
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    transition: all .7s;
}

.main_curation_area .ai_list .img_wrap {
    height: 100%;
    transition: none;
}

.main_curation_area .ai_list a strong {
    z-index: 5;
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    position: absolute;
    left: 30px;
    right: 30px;
    bottom: 50px;
    font-weight: 400;
    font-size: 18px;
    color: #fff;
    line-height: 21px;
    letter-spacing: -0.6px;
}

.main_curation_area .ai_list a span {
    z-index: 5;
    display: block;
    position: absolute;
    left: 30px;
    right: 30px;
    bottom: 28px;
    font-weight: 300;
    font-size: 14px;
    line-height: 16px;
    color: #fff;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.main_curation_area .tab_cont ul li button.like-btn {
    position: absolute;
    right: 16px;
    top: 14px;
    width: 31px;
    height: 31px;
    text-indent: -9999px;
    background: url('/img/icon_good.png') no-repeat;
    font-size: 0;
    cursor: pointer;
    transition: background-position 0.3s ease;
}

.like-btn.active {
    position: absolute;
    right: 16px;
    top: 14px;
    width: 31px;
    height: 31px;
    background: url('/img/icon_good_fill.png') no-repeat !important;
}

.main_curation_area .more_view {
    font-size: 16px;
    text-align: center;
    position: relative;
}

.main_curation_area .more_view button {
    width: 260px;
    height: 45px;
    color: #333;
    line-height: 19px;
    border: 1px solid #333;
    border-radius: 50px;
    position: relative;
}

.main_curation_area .more_view button:before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 17px;
    margin-right: 4px;
    vertical-align: -3px;
    background: url(/img/btn_curation_refresh.png) no-repeat;
}

.main_curation_area .more_view button strong {
    font-weight: 700;
}

.main_curation_area .more_view a {
    line-height: 19px;
    position: absolute;
    right: 0;
    top: 10px;
}

.main_curation_area .more_view a:after {
    content: '';
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-left: 8px;
    background: url(../images/main/btn_curation_more.png) no-repeat;
}