@import "./review.css";

body,
input,
textarea,
button,
select,
table {
  color: rgb(102, 102, 102);
  text-size-adjust: none;
  font-family: "NanumSquare";
  margin: 0;
}

a {
  color: #333;
}

.hidden {
  display: none;
}

#user-service {
  display: flex;
  gap: 10px;
}

.modal-header,
.modal-body,
.modal-footer {
  margin: 0 30px;
  border: none;
}

.modal-header {
  margin-top: 20px;
  margin-bottom: -20px;
  font-weight: 500;
}

.modal-header h4 {
  font-weight: 700;
  margin-bottom: 10px;
}

.modal-body label {
  font-weight: 700;
  margin-bottom: 5px;
}

.modal-body input[type="text"],
.modal-body input[type="email"],
.modal-body input[type="password"],
.modal-body select {
  width: 100%;
  max-width: 500px;
  height: 35px;
  font-size: 14px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: block;
}

#box {
  height: 30px;
}

.gender-container {
  width: 100%;
  margin-bottom: 14px;
}

#gender1,
#gender2 {
  align-items: center;
  font-weight: 500;
}

#male {
  margin-left: 50px;
}

#female {
  margin-left: 100px;
}

.modal-body select {
  height: 45px;
}

.g-recaptcha {
  margin-top: -40px;
}

.modal-footer button {
  font-size: 16px;
  font-weight: bold;
  margin: 30px 5px 30px;
}

#signupBtn {
  padding: 10px 50px;
}

#signupCancelBtn {
  padding: 10px 35px;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 90px;
  z-index: 110;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: transparent;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.logo img {
  width: 220px;
  padding-left: 10px;
  color: #333;
}

.nav-menu {
  list-style: none;
  display: flex;
  gap: 20px;
  padding: 0;
  margin: 0;
}

.nav-menu li {
  display: inline;
}

.nav-menu a {
  text-decoration: none;
  color: #333;
  font-size: 16px;
}

.search-container {
  width: 300px;
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 5px 10px;
  background-color: #fff;
}

.search-container input {
  width: 100%;
  border: none;
  outline: none;
  font-size: 14px;
  padding: 5px;
}

.search-button {
  border: none;
  background: none;
  cursor: pointer;
  font-size: 16px;
}

.icons {
  display: flex;
  align-items: center;
  gap: 10px;
}

.icon {
  font-size: 16px;
  cursor: pointer;
}

#loginModal .modal-dialog {
  max-width: 600px; /* 원하는 너비로 조절 */
  width: 90%; /* 화면 크기에 따라 자동 조절 */
}

#loginModal .modal-content {
  padding: 20px; /* 내용과 가장자리 간격 조정 */
}
