* {
  margin: 0;
  padding: 0;
}

body {
  background: #eee;
  margin: 0;
  padding: 0;
}

a:link,
a:visited,
a:hover,
a:focus,
a:active {
  text-decoration: none;
}

div {
  box-sizing: border-box;
}

dl,
ul,
ol,
menu,
li {
  list-style: none;
}

.travelNews {
  max-width: 980px;
  margin-top: 80px auto 0;
}

.travelNews a img {
  border-radius: 10px;
}

.travelNews .customNews .tit_atc {
  font-weight: 800 !important;
  font-size: 22px !important;
  letter-spacing: -1px;
  margin-bottom: 8px !important;
  padding-left: 0;
}

.tit_atc .btn_more {
  padding-left: 260px;
}

.travelNews .article {
  width: 455px;
  padding-left: 15px;
}

.list_board {
  padding-top: 10px;
  padding-left: 0;
}

.list_board li {
  border-bottom: 1px solid #ddd;
}

.list_board li a {
  overflow: hidden;
  display: block;
  width: 100%;
  font-weight: bold;
  color: #333;
  font-size: 16px;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 49px;
}

.list_board li a em {
  padding-right: 5px;
  font-style: normal;
  font-weight: bold;
}

#marketingBanner .swiper-container {
  max-height: 170px;  /* 최대 높이 제한 */
  margin-top: 20px;
}

#marketingBanner .swiper-slide img {
  height: 170px;
  width: 100%;
  object-fit: cover; /* 비율 유지하면서 최대한 맞춤 */
}


@media (max-width: 768px) {
  .travelNews .customNews {
    flex-direction: column;
  }

  .travelNews .customNews .col-sm-6 {
    width: 100%;
  }
}
